table{ margin: 130px auto; border-collapse: collapse;}
td { width: 120px; height: 120px; border:1px solid rgb(0, 0, 0);}
body { font-family: "Trirong", serif ;}
#outer{position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#msg{
    visibility: hidden;
    display:flex;
    position: absolute;
font-size: 100px;
color:turquoise;}
    #field{visibility: hidden;
        position: absolute;}
#cnt{display:flex;
    position: absolute;
font-size: 200px;
}


